---
import Layout from "../layouts/Layout.astro";

// Data for music platforms
const musicPlatforms = [
    {
        title: "Spotify",
        link: "https://open.spotify.com/artist/4McGLHzMO9obeoOuK6F0wD",
        icon: "🎵",
    },
    {
        title: "SoundCloud",
        link: "https://soundcloud.com/g4mless",
        icon: "☁️",
    },
];
---

<Layout title="Music - g4mless">
    <main>
        <h1 class="title">My Music</h1>
        <p class="subtitle">
            I don't want spend my time to code for this section. Here you can
            listen my music.
        </p>

        <div class="music-grid">
            {
                musicPlatforms.map((platform) => (
                    <a
                        href={platform.link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="music-card"
                    >
                        <article>
                            <h2 class="platform-title">{platform.title}</h2>
                        </article>
                    </a>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    body {
        align-items: flex-start !important;
    }

    main {
        max-width: 1200px;
        width: 100%;
        padding: 0 2rem;
    }

    /* Grid container */
    .music-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 32px;
        margin-top: 2rem;
    }

    .music-card {
        border: 3px solid #FFFFFF;
        padding: 24px;
        transition: all 0.2s ease-in-out;
        display: block;
        text-decoration: none;
        background: #00296B;
        box-shadow: 6px 6px 0px #FFFFFF;
    }

    .music-card:hover {
        transform: translate(-4px, -4px);
        border-color: var(--secondary-color);
        box-shadow: 10px 10px 0px var(--secondary-color);
    }
    
    .music-card:active {
        transform: translate(2px, 2px);
        box-shadow: 4px 4px 0px #FFFFFF;
    }

    .platform-title {
        font-size: 24px;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 0;
    }

    @media (min-width: 1200px) {
        .title {
            font-size: 48px;
            font-weight: 800;
            text-decoration: underline;
            text-decoration-thickness: 4px;
        }
        .subtitle {
            font-size: 20px;
        }
        .platform-title {
            font-size: 28px;
        }
    }
</style>
