---
import Layout from "../layouts/Layout.astro";

const projects = [
    {
        title: "KeqingStock",
        description: "Image gallery for my Keqing",
        stack: ["Vue", "Tailwindcss"],
        link: "https://github.com/g4mless/keqingstock",
    },
    {
        title: "Imeji",
        description: "Lightweight image viewer inspired by qView.",
        stack: ["Rust", "egui"],
        link: "https://github.com/g4mless/imeji",
    },
    {
        title: "GachaBit",
        description: "Image gacha web using Safebooru for the pictures.",
        stack: ["React", "Tailwindcss"],
        link: "https://github.com/g4mless/gachabit",
    },
    {
        title: "MathScroll",
        description: "Doomscrolling but math problems.",
        stack: ["Nuxt", "Tailwindcss"],
        link: "https://github.com/g4mless/gachabit",
    },
    {
        title: "NoUpdater",
        description:
            "name quite literal. For disable/enable update easily on windows.",
        stack: ["Rust", "egui"],
        link: "https://github.com/g4mless/noupdater",
    },
    {
        title: "NHentai Viewer",
        description:
            "Small web app to view cover art & tags from gallery code.",
        stack: ["ElysiaJS", "Tailwindcss"],
        link: "https://github.com/g4mless/nhv",
    },
];
---

<Layout title="Projects - g4mless">
    <main>
        <h1 class="title">My Projects</h1>
        <div class="project-grid">
            {
                projects.map((project) => (
                    <a
                        href={project.link}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="project-card"
                    >
                        <article>
                            <h2 class="project-title">{project.title}</h2>
                            <p class="project-description">
                                {project.description}
                            </p>
                            <div class="project-stack">
                                {project.stack.map((tech) => (
                                    <span class="tech-tag">{tech}</span>
                                ))}
                            </div>
                        </article>
                    </a>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    main {
        max-width: 1200px;
        width: 100%;
        padding: 0 2rem;
    }

    /* Grid container */
    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 32px;
    }

    .project-card {
        border: 3px solid #FFFFFF;
        padding: 24px 24px 60px 24px;
        transition: all 0.2s ease-in-out;
        display: block;
        position: relative;
        background: #00296B;
        box-shadow: 6px 6px 0px #FFFFFF;
        text-decoration: none;
    }

    .project-card:hover {
        transform: translate(-4px, -4px);
        box-shadow: 10px 10px 0px #FFFFFF;
    }

    .project-card:active {
        transform: translate(2px, 2px);
        box-shadow: 4px 4px 0px #FFFFFF;
    }

    .project-title {
        font-size: 24px;
        font-weight: 800;
        color: #ffffff;
        margin-bottom: 8px !important;
    }

    .project-description {
        font-size: 16px;
        line-height: 1.6;
        color: #FFFFFF;
        margin-bottom: 16px;
        font-weight: 400;
    }

    .project-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
    }

    .tech-tag {
        background-color: #FFFFFF;
        color: #00296B;
        padding: 4px 8px;
        font-size: 14px;
        font-weight: 700;
        border: 2px solid #FFFFFF;
    }

    @media (min-width: 1200px) {
        .title {
            font-size: 48px;
            font-weight: 800;
            margin-bottom: 2rem;
            text-decoration: underline;
            text-decoration-thickness: 4px;
        }
        .project-title {
            font-size: 28px;
        }
        .project-description {
            font-size: 18px;
        }
    }
</style>
