---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="g4mLess Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

	html {
		font-family: 'JetBrains Mono', monospace;
		background: #0F0015;
	}
	body {
		margin: 0;
		padding: 2rem;
		color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
	}
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
</style>